@()(implicit requestHeader: RequestHeader)

@main("Somnus") {
    <div class="heading">
        <img src="@routes.Assets.versioned("images/logo.svg")" alt="somnus logo" class="logo">
        <h1>Somnus</h1>
    </div>
    <p>
        Somnus is a platform for easy surveying in the context scientific studies.
        Using a mobile app, participants digitally fill out questionnaires and are regularly notified
        about new questions.
    </p>
    <p>
        This open source application is being developed at the
        <a href="http://www.chronobiology.ch/" target="_blank">Centre for Chronobiology</a>
        in Basel and its source code can be found
        <a href="https://github.com/upkbs-chronobiology" target="_blank">on Github</a>.
    </p>

    <h2>Mobile apps</h2>
    <p>The Somnus mobile app is available for Android and iOS. Links are yet to be inserted here...</p>
    <div class="badges">
        <a href="https://play.google.com/store/apps/details?id=ch.somnus.zzz" target="_blank" class="badge">
            <img src="@routes.Assets.versioned("images/google-play-badge.png")" alt="Google play badge">
        </a>
        <a href="https://itunes.apple.com/us/app/somnus-somnus-ch/id1404835965" target="_blank" class="badge">
            <img src="@routes.Assets.versioned("images/app-store-badge.svg")" alt="App store badge">
        </a>
    </div>

    <h2>Webapp</h2>
    <p>
        A browser version of Somnus is available at
        <strong><a href="https://webapp.somnus.ch/" target="_blank">webapp.somnus.ch</a></strong>.
    </p>
}