@(form: Form[QuestionFormData], questions: Seq[Question])(implicit request: RequestHeader)

<!-- FIXME: This likely doesn't work anymore. Maybe just drop it completely. -->

@main("Questions") {

<h1>Questions</h1>
<ul>
    @for(question <- questions) {
        <li>
            @question.content
            <a href="@routes.QuestionHtmlController.delete(question.id)">
                delete (not working)
                @* as we can't do DELETE requests from plain old links *@
            </a>
        </li>
    }
</ul>
<small>@questions.length items</small>

<hr>
<h2></h2>
<form role="form" action='@routes.QuestionHtmlController.add' method="post">
    @helper.CSRF.formField

    <label for="content">Question content</label>
    <input name="content" type="text">

    <input type="submit" value="Create">
</form>

}
